.text-oscuro {
  color: #445065;
}

.title {
  position: relative; /* Add this */
}

.title::after,
.title::before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.3s;
}

.title::after {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden; /* Add this */
  transition: max-height 0.5s ease; /* Add transition for max-height */
}

.toggle:checked + .title + .content {
  max-height: 500px;
}
.getStartedFormInput {
  padding: 16px 14px;
}

.movieCardSlider {
  padding: 0rem 1.33rem !important;
}

.movieCardSlider .swiper-slide {
  padding: 1.55rem 0rem !important;
}

.transition_05 {
  transition: 0.4s all;
}

.movieCardSlider .swiper-button-next::after {
  background-color: #333333;
  color: #fff;
}

.movieCardSlider .swiper-button-prev::after {
  background-color: #333333;
  color: #fff;
}

.movieCardSlider .swiper-button-prev::after {
  font-size: 1rem;
  height: 6rem;
  width: 1.21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.21rem;
  position: absolute;
  left: -0.53rem;
  overflow: hidden;
}

.movieCardSlider .swiper-button-next::after {
  font-size: 1rem;
  height: 6rem;
  width: 1.21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.21rem;
  position: absolute;
  right: -0.53rem;
  overflow: hidden;
}

.gradientCard {
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.overlayEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayEffect > * {
  position: relative;
  z-index: 1;
}

.customContainer {
  max-width: 1460px;
  margin: 0 auto;
}

.headerSearchMain > svg {
  position: absolute;
  top: 50%;
  left: 6px;
  max-width: 1.23rem;
  transform: translateY(-50%);
}


@media (max-width: 768px) {
  .headerSearchMain{
    transform: translateY(-160%);
    position: absolute;
    width: 100%;
    left: 20px;
    transition: 0.3s all;
  }
  .headerSearchMain.show{
    left: 20px;
    transform: translateY(70px);
    position: absolute;
    width: 100%;
  }
  .menuItems {
    flex-direction: column;
    transform: translateY(-120px);
    position: absolute;
    transition: 0.3s;
  } 
  .menuItems > ul {
    flex-direction: column;
    margin: 0 auto;
    display: block;
  } 
  .menuItems.show {
    flex-direction: column;
    transform: translateY(60px);
    position: absolute;
    animation: fade 0.5s ease-in-out forwards;
  }
   @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .menuItems > ul > li {
    text-align: start;
    margin-top: 10px;
  }
}
